extends ../layouts/default
include ../mixins/paging
include ../mixins/assessment-brief

block content
  .container
    .row: .col-sm-12
      section
        if !assessments.results.length
          h2 you didn't assess anyone.
        else
          h2 You have assessed the following employees
          hr
          +showing(assessments, 'assessment')

          .list-group
            each assessment in assessments.results
              +assessmentBrief(assessment)

          +pages(assessments)