extends ../layouts/default
include ../mixins/developmentplan-detail
include ../modals/form-developmentplan
include ../mixins/flags


block content
  //- embed the developmentplan form modals
  if developmentplan
    +modalEditDevelopmentPlan('formEditDevelopmentPlanModal', developmentplan)
    +modalDeleteDevelopmentPlan('formDeleteDevelopmentPlanModal', developmentplan)
    if developmentplan.approved
      +modalApproveDevelopmentPlan('formApproveDevelopmentPlanModal', developmentplan, 'unapprove')
    else
      +modalApproveDevelopmentPlan('formApproveDevelopmentPlanModal', developmentplan, 'approve')

  //- display the development plan
  .container
    .row: .col-sm-12
      article
        if !developmentplan
          h2 Invalid Development Plan.
        else
          h2 Development Plan
            .badge= developmentplan.status
            +flag-approved(developmentplan.approved)
            .pull-right
              //- buttons to trigger edit, delete, and approve modals based on permissions
              if _.contains(authorized.permissions, 'edit') || _.contains(authorized.permissions, '*')
                a(href="#", data-toggle="modal", data-target="#formEditDevelopmentPlanModal", title="Edit Plan"): span.glyphicon.glyphicon-edit
              | 
              if _.contains(authorized.permissions, 'delete') || _.contains(authorized.permissions, '*')
                a(href="#", data-toggle="modal", data-target="#formDeleteDevelopmentPlanModal", title="Delete Plan"): span.glyphicon.glyphicon-remove-circle
              | 
              if _.contains(authorized.permissions, 'approve') || _.contains(authorized.permissions, '*')
                a(href="#", data-toggle="modal", data-target="#formApproveDevelopmentPlanModal", title="Approve Plan"): span.glyphicon.glyphicon-check
          hr          
          //- developmentplan details
          +developmentplanDetail(developmentplan, activities, developmentMethods, hardGaps, softGaps)