extends ../layouts/default
include ../mixins/paging
include ../mixins/developmentplan-brief
include ../modals/form-developmentplan

block content
  +modalNewDevelopmentPlan('formNewDevelopmentPlanModal')

  .container
    .page-header: h1 Development Plans
    .row
      section.col-sm-12
        h3 Your Development Plans
          .pull-right: a(href="#", data-toggle="modal", data-target="#formNewDevelopmentPlanModal", title="Add a new plan"): span.glyphicon.glyphicon-plus-sign
        hr
        if !developmentplans.length
          h4 you don't have any development plans.
        else
          .list-group
            each ownDevPlan in developmentplans
              +developmentplanBrief(ownDevPlan)
    .row
      section.col-sm-12
        h3 Development plans of your team
        hr
        each reportsDevPlan in data.reportsDevelopmentPlans
          +developmentplanBrief(reportsDevPlan)