extends ../layouts/default
include ../mixins/developmentplan-detail
include ../modals/form-developmentplan
include ../mixins/flags


block content
  //- embed the developmentplan form modals
  if developmentPlan
    +modalEditDevelopmentPlan('formEditDevelopmentPlanModal', developmentPlan)
    +modalDeleteDevelopmentPlan('formDeleteDevelopmentPlanModal', developmentPlan)
    +modalApproveDevelopmentPlan('formApproveDevelopmentPlanModal', developmentPlan, 'approve')
    +modalApproveDevelopmentPlan('formUnapproveDevelopmentPlanModal', developmentPlan, 'unapprove')

  //- display the development plan
  .container
    .row: .col-sm-12
      article
        if !developmentPlan
          h2 Invalid Development Plan.
        else
          h2 Development Plan
            //-.badge= developmentPlan.status
            small
              +flag-status(developmentPlan.status)
              +flag-approved(developmentPlan.approved, developmentPlan.approvedBy)
            .pull-right
              //- buttons to trigger edit, delete, and approve modals based on permissions
              if canDo(user, permits, 'edit')
                a(href="#", data-toggle="modal", data-target="#formEditDevelopmentPlanModal", title="Edit Plan"): span.glyphicon.glyphicon-edit
              | 
              if canDo(user, permits, 'delete')
                a(href="#", data-toggle="modal", data-target="#formDeleteDevelopmentPlanModal", title="Delete Plan"): span.glyphicon.glyphicon-remove-circle
              | 
              if canDo(user, permits, 'approve')
                a(href="#", data-toggle="modal", data-target="#formApproveDevelopmentPlanModal", title="Approve Plan"): span.glyphicon.glyphicon-check
                |  
                a(href="#", data-toggle="modal", data-target="#formUnapproveDevelopmentPlanModal", title="Unapprove Plan"): span.glyphicon.glyphicon-ban-circle
          hr          
          //- developmentPlan details
          +developmentplanDetail(developmentPlan, activities, developmentMethods, hardGaps, softGaps)