extends ../layouts/default
include ../mixins/employee-detail
include ../modals/form-employee

block content
  //- embed the employee form modal
  +modalEmployee('formEmployeeModal')
  .container
    .row: .col-sm-12
      article
        if !data.employee
          h2 no employee information.
        else
          h2 Employee Profile
            //- button to trigger edit modal
            button(type="button", data-toggle="modal", data-target="#formEmployeeModal").btn.btn-primary.pull-right Edit
          hr
          +employeeDetail(data.employee)
          hr
          h3 Assessments
          if data.assessments.length
            .list-group
              each assessment in data.assessments
                a.list-group-item(href='/assessment/' + assessment.id )
                  | #{assessment._.createdAt.format('DD/MM/YYYY - HH:mm')}
                  | by
                  | #{assessment.doneBy.name.full}
          else
            p No assessments found for this employee
