extends ../layouts/default
include ../mixins/employee-brief
include ../mixins/paging

block content
  .container
    .row
      .col-sm-12
        //- show employees
        if employees.results.length
          section
            +showing(employees, 'employee')
            .row
              each employee in employees.results
                .col-xm-9.col-md-3
                  +employeePanel(employee)
            +pages(employees)
        else
          h3.text-muted There are no employees yet.