extends ../layouts/default
include ../mixins/employee-detail
include ../modals/form-employee
include ../mixins/assessment-brief

block content
  //- embed the employee form modal
  if employee
    +modalEmployee('formEmployeeModal', employee, englishLevels, eduLevelOptions, engTestOptions)
  //- display the employee
  .container
    .row: .col-sm-12
      article
        if !employee
          h2 no employee information.
        else
          h2 Employee Profile
            //- button to trigger edit modal only on 'edit' permission
            if _.contains(authorized.permissions, 'edit') || _.contains(authorized.permissions, '*')
              button(type="button", data-toggle="modal", data-target="#formEmployeeModal").btn.btn-primary.pull-right Edit
          hr
          +employeeDetail(employee)
          hr
          h3 Assessments
          if assessments
            .list-group
              each assessment in assessments
                +assessmentBrief(assessment)
          else
            p No assessments found for this employee
