extends ../layouts/default
include ../mixins/job-detail

block content
  .container
    .row: .col-sm-12
      article
        if !job
          h2= t('msg.invalid_job')
        else
          +jobDetail(job, englishlevels, hardlevels, softlevels)