extends ../layouts/default
include ../mixins/job-brief
include ../mixins/paging
          
block content
  .container
    .row
      .col-sm-8
        //- show jobs
        if jobs.results.length
          section
            +showing(jobs, t('label.job'))

            ul.list-group
              each job in jobs.results
                a(href='/job/' + job.id).list-group-item
                  +jobBrief(job)
          
            +pages(jobs)
        else
          h3.text-muted= t('msg.no_jobs')