extends ../layouts/default
include ../mixins/job-brief
include ../mixins/employee-brief
          
block intro
  .container
    header
      if !organization
        h2 Invalid Organization.
      else
        h2= organization.title
        //- show organization info
    hr

block content
  .container
    .row
      .col-sm-6
        //- show jobs
        if jobs
          section
            .list-group
              each job in jobs
                a(href='/job/' + job.id).list-group-item
                  +jobBrief(job)
            a(href="/jobs").btn.btn-default.pull-right more jobs
        else
          h3.text-muted There are no jobs yet.

      .col-sm-6
        //- show employees
        if employees
          section
            .list-group
              each employee in employees
                a(href='/employee/' + employee.id).list-group-item
                  +employeeBrief(employee)
            a(href="/employees").btn.btn-default.pull-right more employees