extends email

block body-contents
  h3 Hi #{user.name.first},
  p.text-larger You recently requested a link to reset your #{brand} password.
  p.text-larger Please, click the button below to set a new password 
  p &nbsp;
  +button({ url: '/root/reset-password/' + user.resetPasswordKey, label: 'Reset Password' })