extends ../../layouts/default

block content
  .container
    .jumbotron: .text-center
      p.text-muted: span.glyphicon.glyphicon-4x.glyphicon-fire
      h2= t('header.error_500')
      p.lead= t('msg.error_500')
    //- display error message on development env only
    if env === 'development'
      pre= err