include flags

mixin developmentplanBrief(developmentPlan)
  //- set the color of the plan based on the status 
  //-case developmentPlan.status
    when 'draft'
      - var kind = 'list-group-item-warning'
    when 'final'
      - var kind = 'list-group-item-success'
    when 'archived'
      - var kind = 'list-group-item-danger'
    default
      - var kind = ''

  a.list-group-item(href='/developmentplan/' + developmentPlan.id, class=kind)
    span= developmentPlan.employee.name.full
    strong  on  
    span= developmentPlan._.createdAt.format('YYYY-MM-DD')
    .pull-right
      +flag-approved(developmentPlan.approved, developmentPlan.approvedBy)
      +flag-status(developmentPlan.status)
    //-.badge= developmentPlan.status 