include commons

//- Job Description in Details
mixin jobDetail(job, englishlevels, hardlevels, softlevels)
  h2 JOB DESCRIPTION
  hr
  .row
    .col-sm-2: +fieldLabel("Job Title")
    .col-sm-4: h4= job.title
    .col-sm-2: +fieldLabel("Alternative Title")
    .col-sm-4: h4= job.altTitle
  .row
    .col-sm-2: +fieldLabel("Reports To")
    .col-sm-4
      if job.reportsTo
        h4: a(href='/job/' + job.reportsTo.id)= job.reportsTo.title
    .col-md-2: +fieldLabel("English Level")
    .col-md-4: h4
      if job.english.level
        +englishLeveler(job.english.level, null)
  .row
    .col-sm-2: +fieldLabel("Department")
    .col-sm-4: h4= job.orgDepartment ? job.orgDepartment.title : '-'
    .col-sm-2: +fieldLabel("Function")
    .col-sm-4: h4= job.orgFunction ? job.orgFunction.title : '-'
  hr
  h3 RESPONSIBILITIES
  ul.list-group
    for task, index in job.tasks
      li.list-group-item
        | #{task}
        .badge= job.authorities[index]
  hr
  h3 JOB CONTEXT
  .row
    .col-sm-2: +fieldLabel("Environment")
    .col-sm-10: h4= job.environment
  .row
    .col-sm-2: +fieldLabel("Audience")
    .col-sm-10: h4= job.audience
  .row
    .col-sm-2: +fieldLabel("Internal")
    .col-sm-10: h4= job.internal
  .row
    .col-sm-2: +fieldLabel("External")
    .col-sm-10: h4= job.external
  hr
  h3 CAPABILITIES
  .row
    .col-sm-6
      .panel.panel-success
        .panel-heading
          h4 Knowledge
        .panel-body
          p.multi-line= job.knowledge
    .col-sm-6
      .panel.panel-info
        .panel-heading
          h4 Experience & Qualifications
        .panel-body
          p.multi-line= job.experience
  .row
    .col-sm-6
      .panel.panel-danger
        .panel-heading
          h4 Professional Skills
        .panel-body
          .well.well-sm: +levellabels(hardlevels,'label-danger')
          for hardSkill, index in job.professional.skills
            +hardLeveler(hardSkill, job.professional.levels[index])
    .col-sm-6
      .panel.panel-warning
        .panel-heading
          h4 Behavioral Skills
        .panel-body
          .well.well-sm: +levellabels(softlevels,'label-warning')
          for softSkill, index in job.behavioral.skills
            +softLeveler(softSkill, job.behavioral.levels[index])