mixin jobBrief(job)
  .panel.panel-default( data-ks-editable=editable(user, { list: 'Job', id: job.id }) )
    .panel-heading.text-center
        span.qrcode.thumbnail!= job.qrCode
        h4.text-primary: a(href='/job/' + job.id)= job.title
    .panel-body 
      p.text-muted= job.altTitle