extends ../../layouts/auth

block content
      //- forgot-password form
      h3= t('header.forgot_password')
      hr
      form(method='post', novalidate)
        input(type='hidden', name='action', value='send-password')
        .form-group
          label(for='email').control-label.sr-only= t('label.email')
          input(type='email', name='email', id='email', placeholder='#{t("label.email")}').form-control
        .form-group
          button(type='submit').btn.btn-primary.pull-right= t('cmd.send_reset_link')
          br