extends ../../layouts/auth

block content
      //- forgot-password form
      h3 Forgot Password
      hr
      form(method='post', novalidate).form-horizontal
        input(type='hidden', name='action', value='send-password')
        .form-group: .col-md-12
          label(for='email').control-label.sr-only Email
          input(type='email', name='email', id='email', placeholder='Email').form-control
        .form-group: .col-md-12
          button(type='submit').btn.btn-primary.pull-right Send Reset Link
