extends ../../layouts/auth
    
block content
  if user
    p Hi #{user.name.first},
    p You're already signed in.
    .toolbar
      .btn-group
        if user.isAdmin
          a(href='/keystone').btn.btn-primary Open Keystone
        a(href='/logout').btn.btn-danger Logout

  else 
    form(method="post")
      input(type='hidden', name='action', value='login')
      .form-group
        label(for='email') Email
        input(type='email', name='email', id='email', value=formData.email).form-control
      .form-group
        label(for='password') Password
        input(type='password', name='password', id='password').form-control
      .form-actions
      button(type='submit').btn.btn-primary Login

block js
  //- Only focus the field after the shake animation is complete
  if messages && messages.error.length
    script setTimeout(function() { try { document.getElementById('email').focus(); } catch(e) {}; }, 800);
  else
    script try { document.getElementById('email').focus(); } catch(e) {};
