extends ../../layouts/auth

block content
      //- forgot-password form
      h3= t('header.reset_password')
      hr
      form(method='post', novalidate).form-horizontal
        input(type='hidden', name='action', value='reset-password')
        .form-group: .col-md-12
          label(for='password').sr-only= t('label.new_password')
          input(type='password', name='password', id='password', placeholder='#{t("label.new_password")}', tabindex=1).form-control
        .form-group: .col-md-12
          label(for='password_confirm').sr-only= t('label.confirm_password')
          input(type='password', name='password_confirm', id='password_confirm', placeholder='#{t("label.confirm_password")}', tabindex=2).form-control
        .form-group: .col-md-12
          button(type='submit', tabindex=3).btn.btn-primary.pull-right= t('cmd.change_password')