extends ../../layouts/auth
    
block content
  if data.user
    h3 #{data.user.name.first},
    p.text-primary
      span= t('msg.verify_thankyou')
      |   
      a(href='/login').btn.btn-success= t('cmd.login')

  if data.orgLinked
    p: small.text-info= t('msg.org_linked')

  if data.empLinked
    p: small.text-info= t('msg.emp_linked') 

        