extends ../../layouts/auth
    
block content
  if data.verified
    p.text-primary Thank you for verifying your email, you can now 
      a(href='/login').btn.btn-success login

  if data.orgLinked
    p: small.text-info We have also linked your account to your organization

  if data.empLinked
    p: small.text-info And linked your account to your employee profile

        